<img class="firstp" src="/static/birdXgalleryXcool.jpg/">
<p></p>
<br>
<h1>human powered aircraft</h1>
<p>I created a flight control system for a human powered aircraft.</p>
<img class="nextp" src="/static/birdXgalleryXhontai.jpg/">
<p>「@ Kasaoka Airport</p>
<br>
<p>I made plates and pipes from prepreg.</p>
<p>I baked them in a furnace made from scraps.</p>
<img class="nextp" src="/static/birdXgalleryXro.jpg/">
<p>「baked</p>
<img class="nextp" src="/static/birdXgalleryXfire.jpg/">
<p>「炉</p>
<img class="nextp" src="/static/birdXgalleryXplates.jpg/">
<p>「plates folder</p>
<br>
<p>I cut the parts with a lute.</p>
<img class="nextp" src="/static/birdXgalleryXcutting.jpg/">
<p>「cutting</p>
<img class="nextp" src="/static/birdXgalleryXcutcut.jpg/">
<p>「parts</p>
<img class="nextp" src="/static/birdXgalleryXcontroller.jpg/">
<p>「controller</p>
<br>
<p>I made various parts.</p>
<img class="nextp" src="/static/birdXgalleryXplate.jpg/">
<p>「elemount</p>
<img class="nextp" src="/static/birdXgalleryXele.jpg/">
<p>「elevator</p>
<img class="nextp" src="/static/birdXgalleryXp.jpg/">
<p>「kingpost</p>
<img class="nextp" src="/static/birdXgalleryXkin.jpg/">
<p>「inner parts</p>
<img class="nextp" src="/static/birdXgalleryXtail.jpg/">
<p>「tailcap</p>
<img class="nextp" src="/static/birdXgalleryXwinglet.jpg/">
<p>「winglet</p>
<img class="nextp" src="/static/birdXgalleryXvacu.jpg/">
<p>「vacume</p>
<img class="nextp" src="/static/birdXgalleryXpa.jpg/">
<p>「Trailing edge</p>
<img class="nextp" src="/static/birdXgalleryXwing.jpg/">
<p>「wing</p>
<br>
<p>created : 2020-05-31</p>