<img class="firstp" src="/static/hakosXappforpcXhakoheader.jpg/">
<p></p>
<br>
<h1>Hakos</h1>
<p>Hakos is a simple desktop gadget.</p>
<p>The main body has only a clock.</p>
<img class="nextp" src="/static/hakosXappforpcXorange.jpg/">
<p>「header</p>
<p>Add the function I think I need.</p>
<img class="nextp" src="/static/hakosXappforpcXhakoex.jpg/">
<p>「header</p>
<p>A simple note has been implemented.</p>
<h2>% source</h2>
<p><a href='https://github.com/llbxg/hakos'>[github:saba-server]</a></p>
<br>
<p>created : 2020-07-04</p>