<img class="firstp" src="/static/keyboardXgalleryXcasetohontai.jpg/">
<p></p>
<br>
<h1>keyboard</h1>
<p>The keyboard is very important for writing programs.</p>
<p>I use "VORTEX CORE". It is 40% mechanical keyboard.</p>
<br>
<p>I made case for carrying.</p>
<p>I just cut and bent an aluminum plate. It's working well.</p>
<img class="nextp" src="/static/keyboardXgalleryXincase.jpg/">
<p>「in case</p>
<img class="nextp" src="/static/keyboardXgalleryXcase.jpg/">
<p>「case</p>
<br>
<p>I often carry the keyboard, so I often plug and unplug the cable.</p>
<p>I use a magnet type terminal.</p>
<img class="nextp" src="/static/keyboardXgalleryXmagnet.jpg/">
<p>「magnet</p>
<br>
<p>created : 2020-06-07</p>