<img class="firstp" src="/static/tseXfontsXheader.jpg/">
<p></p>
<h1>tse</h1>
<p>t(ten:点)s(sen:線)e(en:円)</p>
<p>I created it. There's no particular reason.</p>
<br>
<p>I used fontforge.</p>
<img class="nextp" src="/static/tseXfontsXfontforge.jpg/">
<p>「sample</p>
<br>
<p>tse consists of 7 shapes.</p>
<img class="nextp" src="/static/tseXfontsXcomp.jpg/">
<p>「shapes</p>
<br>
<h2>source</h2>
<p><a href=https://github.com/llbxg/mojies>[github:mojies]</a></p>
<p><a href=https://github.com/llbxg/mojies/tree/master/tse>[github:mojies/tse]</a></p>
<br>
<p>created : 2020-05-31</p>