<img class="pic" src="/static/fig/using.png">

<p>fish-in-txt</p>
<div class="line"></div>

<p class="sukoshi bold">% 説明</p>
<p>fish-in-txtはシンプルなテキストエディタです。ちょっとしたメモを書く時のために作られました。</p>
<p>"#"を用いてインデックスを自動生成できます。機能は実装できたタイミングで追加しています。</p>    
<p>シンプルでかわいいを維持しながら、機能を追加し、非シンプルとシンプルの狭間を彷徨います。</p>

<img class="shashin" src="/static/fig/using-img2.png"/>
<p class="chu">「mikan</p>

<img class="shashin" src="/static/fig/using3.png"/>
<p class="chu">「coffe</p>

<img class="shashin" src="/static/fig/fish-fish-fish.png"/>
<p class="chu">「kawaii icons</p>

<p class="sukoshi  bold">% 機能</p>
<p>-- #:主題</p>
<p>-- ##:副題</p>
<p>-- window:最大化/最小化/閉じる</p>
<p>-- 保存:新規保存/上書き保存</p>
<p>-- drug&drop:ファイル読み込み</p>
<P>-- ctrl+s:保存</P>
<p>-- windowサイズ:前回のサイズの復元</p>
<p>-- theme:カラーとフォントサイズの変更</p>

<p class="sukoshi  bold">% theme.json</p>
<p>userDataに"theme.js"を入れることでテーマカラーを変更できます。</p>
<pre>
{
"main": "#FFFFFF",
"sub" : "#E47830",
"text": "#FC5855"
}
</pre>

<p class="sukoshi  bold">% config.json</p>
<p>userDataの中に自動で生成されるファイルです。アプリを閉じた際に、windowサイズが記録されます。</p>
<p>font-sizeを書き換えることでアプリケーションでのフォントサイズを変更できます。</p>

<p class="sukoshi  bold">% see u</p>
<p><a href="https://github.com/k-o-s-h/fish-in-txt">[github:fish-in-txt]</a></p>