@font-face {
    font-family: 'SFMono';
    src: url(/static/font/SFMono-Regular.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HackGen';
    src: url(/static/font/HackGen35-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}