<html>
{% include "/parts/head.html" %}
<body>
<div class="contents">
{% include "/parts/header.html" %}

{% if tp == 'main' %}
{% include "/pages/main.html" %}

{% elif name == 'fish' %}
{% include "/pages/appforpc/fish.html" %}

{% elif tp == 'appforpc' %}
{% include "/pages/appforpc.html" %}

{% elif name == 'cript' %}
{% include "/pages/webpages/cript.html" %}

{% elif tp == 'webpages' %}
{% include "/pages/webpages.html" %}

{% elif name == 'test-tube' %}
{% include "/pages/code/testtube.html" %}

{% elif name == 'fukami' %}
{% include "/pages/code/fukami.html" %}

{% elif tp == 'code' %}
{% include "/pages/code.html" %}

{% elif name == 'tse' %}
{% include "/pages/font/tse.html" %}

{% elif tp == 'font' %}
{% include "/pages/font.html" %}

{% elif tp == 'about' %}
{% include "/pages/about.html" %}

{% elif tp == 'notfound' %}
{% include "/pages/notfound.html" %}

{% endif %}

{% include "/parts/footer.html" %}
</div>
</body>
</html>