<html>
{% include "/parts/head.html" %}
<body>
{% include "/parts/header.html" %}
<div class="contents">
{% if tp == 'main' %}
{% include '/parts/main.html' %}
{% elif tp == 'about' %}
{% include '/parts/about.html' %}
<!-- auto writing -->
{% elif name == 'test-tube' %}
{% include '/pages/test-tube.html' %}

{% elif name == 'fish' %}
{% include '/pages/fish.html' %}

<!-- auto writing -->
{% elif tp == 'code' %}
{% include '/parts/code.html' %}
{% elif tp == 'appforpc' %}
{% include '/parts/appforpc.html' %}
{% elif tp == 'fonts' %}
{% include '/parts/fonts.html' %}
{% elif tp == 'gallery' %}
{% include '/parts/gallery.html' %}
{% elif tp == 'notfound' %}
{% include '/parts/notfound.html' %}
{% endif %}
{% include "/parts/footer.html" %}
</div>
</body>
</html>