<html>
{% include "/parts/head.html" %}
<body>
{% include "/parts/header.html" %}
<div class="contents">
{% if tp == 'main' %}
{% include '/parts/main.html' %}
{% elif tp == 'about' %}
{% include '/parts/about.html' %}
{% elif tp == 'blog' %}
{% include '/parts/blog.html' %}
<!-- auto writing -->
{% elif name == 'test-tube' %}
{% include '/pages/test-tube.html' %}

{% elif name == 'fish' %}
{% include '/pages/fish.html' %}

{% elif name == 'tse' %}
{% include '/pages/tse.html' %}

{% elif name == 'bird' %}
{% include '/pages/bird.html' %}

{% elif name == 'fukami' %}
{% include '/pages/fukami.html' %}

{% elif name == 'keyboard' %}
{% include '/pages/keyboard.html' %}

{% elif name == 'saba' %}
{% include '/pages/saba.html' %}

<!-- auto writing -->
{% elif tp == 'code' %}
{% include '/parts/code.html' %}
{% elif tp == 'appforpc' %}
{% include '/parts/appforpc.html' %}
{% elif tp == 'fonts' %}
{% include '/parts/fonts.html' %}
{% elif tp == 'gallery' %}
{% include '/parts/gallery.html' %}
{% elif tp == 'log' %}
{% include '/parts/log.html' %}
{% elif tp == 'error' %}
{% include '/parts/error.html' %}
{% endif %}
{% include "/parts/footer.html" %}
</div>
</body>
</html>