<h1>% about</h1>
<p>My name is kosh.</p>
<p>I'm Japanese and a student at University.</p>
<p>I’m studying English really hard, but I’m not very good at it.</p>
<p>I don't think about the difficulty I just go for it, so there is no consistency.</p>
<p>I'm studying programming by myself. I'm improving little by little!</p>
<p>Let me know various things!</p>

<br>

<h1>% インターネット</h1>
<p>
<a href="https://github.com/llbxg">[github]</a>
<a href="https://twitter.com/llbxg">[twitter]</a>
<a href="mailto:hello@kosh.dev">[hello@kosh.dev]</a>
</p>