<p>programs</p>
<div class="icons iconcol">
<h2>web framework</h2>
<div class="info"><a href='/test-tube'><img src="/static/settingXtext.png/"></a><a class="fn" href="/test-tube">{test-tube}</a> <a href="/test-tube">2020/05/28 py</a></a></div>
<h2>server</h2>
<div class="info"><a href='/saba'><img src="/static/settingXtext.png/"></a><a class="fn" href="/saba">{saba-server}</a> <a href="/saba">2020/06/11 py</a></a></div>
<h2>Backpropagation</h2>
<div class="info"><a href='/fukami'><img src="/static/settingXtext.png/"></a><a class="fn" href="/fukami">{fukami}</a> <a href="/fukami">2020/06/01 hs</a></a></div>
</div>