<head>

<meta name="viewport" content="width=device-width, initial-scale=1" >
<link rel="stylesheet" href="/static/main.css/" >

<link rel="icon" href="/static/settingXkosh.png/" /> 
<link rel="apple-touch-icon" href="https://www.kosh.dev/static/settingXkoshdevapp.png/" >

<meta name="msapplication-TileImage" content="/static/settingXkoshdev.png/" />
<meta name="msapplication-TileColor" content="#F8F8FA" />

<meta name='apple-mobile-web-app-capable' content='yes' />

{% if tp == 'main' %}
<meta property="og:type" content="website" />
{% elif tp == 'about' %}
<meta property="og:type" content="profile" />
{% else %}
<meta property="og:type" content="article" />
{% endif %}

{% if tp == 'main' %}
<title>kosh.dev | {{ tp }}</title>
<meta property="og:title" content="xxxx" />
<meta property="og:url" content="https://www.kosh.dev/" />
{% elif name == '' %}
<title>kosh.dev | {{ tp }}</title>
<meta property="og:title" content="{{ tp }}" />
<meta property="og:url" content="https://www.kosh.dev/{{ tp }}" />
{% else %}
<title>kosh.dev | {{ name }}</title>
<meta property="og:title" content="{{name}}" />
<meta property="og:url" content="https://www.kosh.dev/{{ name }}" />
{% endif %}

<meta property="og:description" content="xxxx" />
<meta property="og:image" content="https://www.kosh.dev/static/settingXkoshheader.png/" />
<meta property="og:site_name" content="kosh.dev" />

<meta property="fb:app_id" content="949385185512722" />
<meta name="twitter:card" content="summary" />

</head>