<h1>% ie(家)</h1>

<p>This web site is managed by ie.</p>
<p>ie is divided into four.</p>

<img class="firstp" src="/static/settingXie.png/">

<br><br>

<h1>% doa(戸)</h1>
<P>This site is operated by doa. <a href="https://github.com/llbxg/doa">[github:doa]</a></P>
<p>The goal is to create only with the Python standard library.</p>

<p>|-<a href="/test-tube">{test-tube}</a></p>
<p>|-<a href="/saba">{saba-server}</a></p>
<p>|-&nbsp;mailbox(venv)</p>

<br>

<h1>% heya(部屋)</h1>
<P>In heya, convert the article written in `.md` and send it to doa or monooki. </P>
<p>The image is resized and unified to jpg.</p>

<p>|-&nbsp;tana(util)</p>
<p>|-&nbsp;tsukue(converter)</p>
<p>|-&nbsp;pasokon(writing space) </p>
<p>|-&nbsp;mailbox(venv)</p>

<br>

<h1>% tatami(畳)</h1>
<P>tatami is a place to write blog and to access PostgreSQL online.</P>
<p>Currently under development.</p>

<p>|-&nbsp;zabuton(util)</p>
<p>|-&nbsp;maru-table(writing space)</p>
<p>|-&nbsp;horigotatsu(env)</p>

<br>

<h1>% monooki(物置)</h1>
<P>monoki is a local backup space.</P>

<p>|-&nbsp;box(img)</p>
<p>|-&nbsp;box(txt)</p>