<p>This site is created by <a href="/test-tube">{test-tube}</a> and <a href="/saba">{saba-server}</a>.</p>

<div class="icons">

<div class="icon">
<a href='/about'><img src="/static/settingXtext.png/"></a>
<p><a href="/about">{about}</a></p>
</div>

<div class="icon">
<a href='/blog'><img src="/static/settingXpin.png/"></a>
<p><a href="/blog">{blog}</a></p>
</div>

<div class="icon">
<a href='/code'><img src="/static/settingXfolder.png/"></a>
<p><a href="/code">{code}</a></p>
</div>

<div class="icon">
<a href='/appforpc'><img src="/static/settingXpc.png/"></a>
<p><a href="/appforpc">{app/pc}</a></p>
</div>

<div class="icon">
<a href='/fonts'><img src="/static/settingXfont.png/"></a>
<p><a href="/fonts">{font}</a></p>
</div>

<div class="icon">
<a href='/gallery'><img src="/static/settingXfig.png/"></a>
<p><a href="/gallery">{gallery}</a></p>
</div>

<div class="icon">
<a href='/log'><img src="/static/settingXserver.png/"></a>
<p><a href="/log">{logs}</a></p>
</div>

</div>

<br>
<p class="comment">Sorry. MicroBlog compatible with ActivityPub is under construction. </p> 
<p class="comment">Please let me know should there be any issues.</p>